15 * * * * /usr/bin/python /home/ubuntu/wikicount-dbproc/master.py
15 * * * * /usr/bin/python /home/ubuntu/wikicount-dbproc/collectMongostat.py
24 * * * * /usr/bin/python /home/ubuntu/wikicount-dbproc/threehourrollingavg.py
